@{
    ViewData["Title"] = "About";
}

<table class="table">
    <tr><td>TestDb1</td><td>@ViewData["TestDb1"]</td></tr>
    <tr><td>DefaultConnection</td><td>@ViewData["DefaultConnection"]</td></tr>
    <tr><td>trademark</td><td>@ViewData["trademark"]</td></tr>
    <tr><td>starship:length</td><td>@ViewData["starship:length"]</td></tr>
    <tr><td>starship:commissioned</td><td>@ViewData["starship:commissioned"]</td></tr>
    <tr><td>section2:subsection0:key0</td><td>@ViewData["section2:subsection0:key0"]</td></tr>
</table>